<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<title>Monster Dairy</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
<!--  <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif" /> -- >
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>  
  <!--header section start -->
     <div class="header_section background_bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="logo"><a href="{{url_for('adminindex')}}"><img src="{{ url_for('static', filename='images/mylogo2.png') }}" width="30%" height="30%"></a></div>
          </div>
          <div class="col-md-9">
            <div class="menu_text">
              <ul>
                <div class="togle_3">
                  <div class="menu_main">
                    <div class="padding_left0"><a href="{{url_for('adminindex')}}">Home </a>
                    <span class="padding_left0"><a href="{{url_for('adminlogout')}}">Logout</a></span></div>
                  </div>
                </div>
                <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                  <a href="{{url_for('sales')}}">Sales</a>
                  <a href="{{url_for('products')}}">Products</a>
                  <a href="{{url_for('inventory')}}">Inventory</a>
                  <a href="{{url_for('outlets')}}">Outlets</a>
                  <a href="{{url_for('staff')}}">Staff</a>
                </div>
                </div>
                <span class="navbar-toggler-icon"></span>
                <span onclick="openNav()"><img src="{{ url_for('static', filename='images/toggle-icon.png') }}" class="toggle_menu"></span>
              </ul>
            </div>      
          </div>
        </div>
      </div>
    </div>
    <!-- header section end -->
    <!-- footer section start -->
    <div class="footer_section2 layout_padding d-flex align-items-center justify-content-center text-center">
      <div class="container_center">
        <div class="footer_main2">
        <div class="footer_center">
          <h1 class="contact_taital2"><span>Admin Home</span></h1>
          <div class="box-container">
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center" style="background-image: url('https://static.vecteezy.com/system/resources/previews/005/168/805/original/the-team-explain-scale-up-the-target-sales-team-work-hard-work-colorful-illustration-free-vector.jpg');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Sales</h3>
                    <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-image: url('https://static.vecteezy.com/system/resources/previews/005/168/805/original/the-team-explain-scale-up-the-target-sales-team-work-hard-work-colorful-illustration-free-vector.jpg');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Sales</h3>
                    <a href="{{url_for('sales')}}"><button class="flip-box-button">Manage</button></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center" style="background-image: url('../static/images/product.png');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Products</h3>
                    <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-image: url('../static/images/product.png');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Products</h3>
                    <a href="{{url_for('products')}}"><button class="flip-box-button">Manage</button></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center" style="background-image: url('https://uploads-ssl.webflow.com/60edc0a8835d5b38bf11f03f/61cf04f457f55252a5a31c53_Cloud-based-Inventory-Management-System.png');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Inventory</h3>
                    <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-image: url('https://uploads-ssl.webflow.com/60edc0a8835d5b38bf11f03f/61cf04f457f55252a5a31c53_Cloud-based-Inventory-Management-System.png');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Inventory</h3>
                    <a href="{{url_for('inventory')}}"><button class="flip-box-button">Manage</button></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center" style="background-image: url('https://img.freepik.com/premium-vector/cyberpunk-city-neon-glow-lighting-urban-landscape-purple-colored-dark-futuristic-town-vector-background-cyberpunk-building-futuristic-cityscape-tower-illustration_80590-11114.jpg');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Outlets</h3>
                    <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-image: url('https://img.freepik.com/premium-vector/cyberpunk-city-neon-glow-lighting-urban-landscape-purple-colored-dark-futuristic-town-vector-background-cyberpunk-building-futuristic-cityscape-tower-illustration_80590-11114.jpg');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Outlets</h3>
                    <a href="{{url_for('outlets')}}"><button class="flip-box-button">Manage</button></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item">
              <div class="flip-box">
                <div class="flip-box-front text-center" style="background-image: url('https://media.istockphoto.com/id/1177158970/vector/busy-businessman-working-on-computer-with-pile-of-papers.jpg?s=612x612&w=0&k=20&c=a5q5c4A7X2e9LMwAiHEnZ76zjE8zJlfLMz5AX7e36gI=');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Staff</h3>
                    <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                  </div>
                </div>
                <div class="flip-box-back text-center" style="background-image: url('https://media.istockphoto.com/id/1177158970/vector/busy-businessman-working-on-computer-with-pile-of-papers.jpg?s=612x612&w=0&k=20&c=a5q5c4A7X2e9LMwAiHEnZ76zjE8zJlfLMz5AX7e36gI=');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header">Staff</h3>
                    <a href="{{url_for('staff')}}"><button class="flip-box-button text-center">Manage</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="contact_section">
            <div class="row">
              <div class="col-md-12">
                <div class="mail_section" style="width: 100%; padding-left: 100px; padding-right: 100px">
                <form action="{{ url_for('adminindex')}}" method="post" autocomplete="on">
                <input type="text" name="query" placeholder="Enter Your Query" class="email_text" id="query" required></br></br>
                <input type="submit" class="send_bt" value="Submit">
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- footer section end -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
    $(document).ready(function(){
    $(".fancybox").fancybox({
    openEffect: "none",
    closeEffect: "none"
    });
         
    $(".zoom").hover(function(){
         
    $(this).addClass('transition');
    }, function(){
         
    $(this).removeClass('transition');
    });
    });
    </script> 
    <script>
     function openNav() {
     document.getElementById("myNav").style.width = "100%";
    }
     function closeNav() {
     document.getElementById("myNav").style.width = "0%";
    }
    </script>  
</body>
</html>