<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Monster Dairy</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<!-- Responsive-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
<!-- fevicon -->
<!--  <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif" /> -- >
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
<!--  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}"> -- >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
  <!--header section start -->
    <div class="header_section" style="padding-bottom: 300px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="logo"><a href="{{url_for('customer')}}"><img src="{{ url_for('static', filename='images/mylogo2.png') }}" width="30%" height="30%"></a></div>
          </div>
          <div class="col-md-9">
            <div class="menu_text">
              <ul>
                <div class="togle_3">
                  <div class="menu_main">
                    <div class="padding_left0"><a href="{{url_for('shop')}}">Shop</a>
                    <span class="padding_left0"><a href="{{url_for('cart')}}">Cart</a></span>
                    <span class="padding_left0"><a href="{{url_for('profile')}}">Profile</a></span></div>
                  </div>
                  <!-- <div class="shoping_bag"><img src="{{ url_for('static', filename='images/search-icon.png') }}"></div> -->
                </div> 
              </ul>
            </div>      
          </div>
        </div>
      </div>
    <!-- banner section start -->
    <div class="banner_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <h1 class="banner_taital">A moo point</h1> 
            <h1 style="font-size: 50px" class="banner_taital_1">Monster Dairy</h1>
            <div class="contact_bt_2">
              <span class="contact_padding"><a href="{{url_for('shop')}}">
                <button class="buynowbtn">BUY NOW</button>
                <!-- <img src="{{ url_for('static', filename='images/buy-now.png') }}"> -->
              </a></span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="play_icon"><a href="{{url_for('cart')}}"><img src="{{ url_for('static', filename='images/cart.png') }}"></a></div>
          </div>
          <div class="col-sm-5">
            <div><img src="{{ url_for('static', filename='images/Asset 1.png') }}" class="image_1"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- banner section end -->
    </div>
    <!-- header section end -->
    <!-- Javascript files-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
    <!-- sidebar -->
    <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <!-- javascript --> 
    <!--  <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script> -- >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
    $(document).ready(function(){
    $(".fancybox").fancybox({
    openEffect: "none",
    closeEffect: "none"
    });
         
    $(".zoom").hover(function(){
         
    $(this).addClass('transition');
    }, function(){
         
    $(this).removeClass('transition');
    });
    });
    </script> 
    <script>
     function openNav() {
     document.getElementById("myNav").style.width = "100%";
    }
     function closeNav() {
     document.getElementById("myNav").style.width = "0%";
    }
    </script>  
</body>
</html>