<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<title>Monster Dairy</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">  
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen"> -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/payment.css') }}">
</head>
    <body>
        <div id="wrapper">
            <div id="container" style = "background: #adcacd">
              <div id="info">
                <div id="price">
                    <br><p>Your Order Price</p>
                    <h2>Rs. {{account['SUM(price)']}}</h2>
                </div>
                <img id="product" src="{{ url_for('static', filename='images/milk.webp') }}" />
              </div>
              <div id="payment">
                <form id="checkout" action="{{ url_for('payment') }}" method="POST">
                  <input class="card" id="visa" type="button" name="card" value="">
                  <input class="card" id="mastercard" type="button" name="card" value="">
                  <label>Credit Card Number</label>
                  <input id="cardnumber" type=text name="cardnumber" requierd="true" placeholder="0123-4567-8901-2345">
                  <label>Card Holder</label>
                  <input id="cardholder" type="text" name="name" requierd="true" maxlength="50" placeholder="Cardholder">
                  <label>Expiration Date</label>
                  <label id="cvc-label">CVC/CVV</label>
                  <div id="left">
                    <select name="month" id="month" onchange="" size="1">
                      <option value="00">MM</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                    <p>/</p>
                    <select name="year" id="year" onchange="" size="1">
                      <option value="00">YY</option>
                      <option value="01">16</option>
                      <option value="02">17</option>
                      <option value="03">18</option>
                      <option value="04">19</option>
                      <option value="05">20</option>
                      <option value="06">21</option>
                      <option value="07">22</option>
                      <option value="08">23</option>
                      <option value="09">24</option>
                      <option value="10">25</option>
                    </select>
                  </div>
                  <input id="cvc" type="text" placeholder="Cvc/Cvv" maxlength="3"/>
                  <input type="hidden" name="price" value={{account['SUM(price)']}}>
                  <button type="submit" class="btn" name="purchase" value="Purchase">Purchase</button>
                </form>
                </div>
            </div>
        </div>
    </body>
</html>
