<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Monster Dairy</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<!-- Responsive-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
<!-- fevicon -->
<!--  <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif" /> -- >
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
<!--  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}"> -- >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
  <!--header section start -->
    <div class="header_section background_bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="logo"><a href="{{url_for('index')}}"><img src="{{ url_for('static', filename='images/mylogo2.png') }}" width="30%" height="30%"></a></div>
          </div>
          <div class="col-md-9">
            <div class="menu_text">
              <ul>
                <div class="togle_3">
                  <div class="menu_main">
                    <div class="padding_left0"><a href="{{url_for('login')}}">Login</a>
                    <span class="padding_left0"><a href="{{url_for('admin')}}">Admin</a></span></div>
                  </div>
                  <!-- <div class="shoping_bag"><img src="images/search-icon.png"></div> -->
                </div> 
              </ul>
            </div>      
          </div>
        </div>
      </div>
    </div>
    <!-- header section end -->
    <!-- footer section start -->
    <div class="footer_section layout_padding d-flex align-items-center justify-content-center text-center">
        <div class="container_center">
        <div class="footer_main">
          <div class="footer_center">
            <h1 class="contact_taital"><span>Register</span></h1>
          </div>
        </div>
        <div class="contact_section">
          <div class="row">
            <div class="col-md-12">
              <div class="mail_section">
                <form action="{{ url_for('register')}}" method="post" autocomplete="off">
                    <div class="msg">{{ msg }}</div>
                    <input type="text" name="username" placeholder="Enter Your Username" class="email_text" id="username" required></br></br>
                    <input type="password" name="password" placeholder="Enter Your Password" class="email_text" id="password" required></br></br>
                    <input type="email" name="email" placeholder="Enter Your Email ID" class="email_text" id="email" required></br></br>
					          <input type="text" name="age" placeholder="Enter Your Age" class="email_text" id="age" required></br></br>
                    <input type="text" name="number" placeholder="Enter Your Number" class="email_text" id="number" required></br></br>
                    <input type="text" name="accountnum" placeholder="Enter Your Account No" class="email_text" id="accountnum" required></br></br>
                    <input type="text" name="address" placeholder="Enter Your Address" class="email_text" id="address" required></br></br>
                    <input type="text" name="city" placeholder="Enter Your City" class="email_text" id="city" required></br></br>
                    <input type="text" name="state" placeholder="Enter Your State" class="email_text" id="state" required></br></br>
                    <input type="text" name="postalcode" placeholder="Enter Your Postal Code" class="email_text" id="postalcode" required></br></br>
                    <input type="submit" class="send_bt" value="Register">
                    </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section end -->
    <!-- Javascript files-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
    <!-- sidebar -->
    <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <!-- javascript --> 
    <!--  <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script> -- >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
    $(document).ready(function(){
    $(".fancybox").fancybox({
    openEffect: "none",
    closeEffect: "none"
    });
         
    $(".zoom").hover(function(){
         
    $(this).addClass('transition');
    }, function(){
         
    $(this).removeClass('transition');
    });
    });
    </script> 
    <script>
     function openNav() {
     document.getElementById("myNav").style.width = "100%";
    }
     function closeNav() {
     document.getElementById("myNav").style.width = "0%";
    }
    </script>  
</body>
</html>